<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>writePage</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- <script src="script.js" defer></script> -->
</head>

<body>
    <header>
        <h1>Hi, {{displayname}}!</h1>
        <form action="chainlettersstories:write_dashboard userid">
            <input type="submit" value="WRITE!" />
        </form>
        <a href="{% url 'chainlettersstories:write_dashboard' userid %}">WRITE!!</a>
        <button class='header-button review-button' action="chainlettersstories:readdashboard">REVIEW</button>
        <button class="header-button logout-button" action="chainlettersstories:login-or-signup-page">LOGOUT</button>
    </header>
</body>

</html>



{% for choice in question.choice_set.all %}
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}