<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>writePage</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- <script src="script.js" defer></script> -->
</head>

<body>
    <header>
        <h1>Hi, {{displayname}}!</h1>
        <a href="{% url 'chainlettersstories:dashboard' userid %}">DASHBOARD</a>
        <a href="{% url 'chainlettersstories:write_dashboard' userid %}">WRITE!!</a>
        <a href="{% url 'chainlettersstories:read_dashboard' userid %}">READ!!</a>
        <a href="{% url 'chainlettersstories:login_or_signup_page' %}">LOG OUT</a>
        {% comment %} <button class="header-button logout-button" action="chainlettersstories:login-or-signup-page">LOGOUT</button> {% endcomment %}
    </header>
</body>
</html>