{% load static %}
{% load django_vite %}
{% vite_react_refresh %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>writePage</title>
    <link rel="stylesheet" href= "{% static 'chainlettersstories/dashboardStyles.css' %}" />
    {% vite_hmr_client %}   
</head>

<body>
    <div class="myAppContainer" id="myAppContainer"></div>
    {{ userid|json_script:'userid' }}
    {{ displayname|json_script:'displayname' }}
    {{ read_dicts|json_script:'read-dicts' }}
    {{ write_dicts|json_script:'write-dicts' }}
    {% vite_asset 'frontend/components.jsx' %}
</body>
</html> 
