{% load static %}

<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login or signup</title>
</head>

<body>
  <form action="{% url 'chainlettersstories:login'  %}" method="post">
    {% csrf_token %}
    <fieldset>
      <label>Username<input type="text" name="username-or-email" placeholder="YourUsernameHere"></label>
      <label>Password<input type="text" name="password" placeholder="YourPasswordHere"></label>
      <br>
      <label>Log In<input type="radio" name="login-or-signup" value=1></label>
      <label>Sign Up<input type="radio" name="login-or-signup" value=0></label>
      <br>
    </fieldset>
    <input type="submit" value="Go!">
  </form>
  {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
</body>

</html>