{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>writePage</title>
    <link rel="stylesheet" href= "{% static 'chainlettersstories/styles.css' %}" />
    {% comment %} {{ story_list|json_script:"story-data" }} {% endcomment %}
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> {% endcomment %}
    <script src= "{% static 'chainlettersstories/write_dashboard_script.js' %}" defer></script>
</head>

<body>
    <header>
        <h1>Hi, {{displayname}}!</h1>
        <br>
        <form action="{% url 'chainlettersstories:dashboard' userid %}">
            <button type="submit">DASHBOARD</button>
        </form>
        <form action="{% url 'chainlettersstories:write_dashboard' userid %}">
            <button type="submit">WRITE</button>
        </form>
        <form action="{% url 'chainlettersstories:read_dashboard' userid %}">
            <button type="submit">READ</button>
        </form>
        <form action="{% url 'chainlettersstories:login_or_signup_page'%}">
            <button type="submit">LOG OUT</button>
        </form>
    </header>
    <div class="main-section">
        <div class="sidebar">
            <form action="{% url 'chainlettersstories:get_random_moderatable_section' userid %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Start Review" />
            </form>
        </div>
        <div class="stories">

            <div class="stories-header-panel">
            {% for story_dict in story_dicts %}
            <button class="story-tab-button" id="story-tab-button-{{forloop.counter}}">{{forloop.counter}}</button>
            {% endfor %}
            </div>

            <div class="stories-main-panel">
            {% for finalsectionid, story_dict in story_dicts.items %}
                <div class="container-story-tab" id = "container-story-tab-{{forloop.counter}}">
                    <div class="read-only-div" 
                         id="read-only-div-{{forloop.counter}}">{{story_dict.previous}}</div> 

                    <form action= "{% url 'chainlettersstories:approve_new_section' userid finalsectionid %}" method="post">
                    {% csrf_token %}
                        <fieldset>
                            <div class="moderation-read-only-div" 
                                    id="moderation-read-only-div-{{forloop.counter}}">{{story_dict.current}}</div> 
                        </fieldset>
                    <input type="submit" value="Approve">
                    </form>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>
</body>

</html>


            {% comment %} {% if story_list %}{% else %}
                <button class="story-tab-button" id="story-tab-button-(-1)">(No Stories)</button>
            {% endif %} {% endcomment %}
            {% comment %} {% if story_list %}{% else %}
                <div class="container-story-tab" id="container-story-tab-(-1)">
                    <div class="read-only-div" id="read-only-div-(-1)">No Stories Active. Press "NEW" to start a new one, or "JOIN" to join a pre-existing one!.</div>
                </div>
            {% endif %} {% endcomment %}

