{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>writePage</title>
    <link rel="stylesheet" href= "{% static 'chainlettersstories/styles.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src= "{% static 'chainlettersstories/write_dashboard_script.js' %}" defer></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>CHAIN MATES</h1>
            <h1>Hi, {{displayname}}!</h1>
            <form action="{% url 'chainlettersstories:dashboard' userid %}">
                <button type="submit">DASHBOARD</button>
            </form>
            <form action="{% url 'chainlettersstories:write_dashboard' userid %}">
                <button type="submit">WRITE</button>
            </form>
            <form action="{% url 'chainlettersstories:read_dashboard' userid %}">
                <button type="submit">READ</button>
            </form>
            <form action="{% url 'chainlettersstories:login_or_signup_page'%}">
                <button type="submit">LOG OUT</button>
            </form>
        </header>

        <div class="sidebar">
            <form action="{% url 'chainlettersstories:create_new_story' userid %}">
                <button type="submit">New</button>
            </form>
            <form action="{% url 'chainlettersstories:get_random_available_section' userid %}">
                <button type="submit">Join</button>
            </form>
        </div>

        <div class="tabs">
            {% for story_dict in story_dicts %}
                <button class="story-tab-button"
                        id="story-tab-button-{{forloop.counter}}">{{forloop.counter}}</button>
            {% endfor %}
        </div>

        {% for sectionid, story_dict in story_dicts.items %}
            <div class="content-submissions-comments"
                id="content-submissions-comments-{{forloop.counter}}">
                <form class="content-submissions"
                    id ="content-submissions-{{forloop.counter}}"
                    action="{% url 'chainlettersstories:submit_section_to_story' userid sectionid %}"        method="post">
                {% csrf_token %}
                <div class="all-read-only-content">
                    {% for story_section in story_dict.previous %}
                        <div class="read-only-content textarea-wrap">
                            <textarea class="read-only-content" 
                                id="read-only-content-{{forloop.counter}}" 
                                type="text"
                                readonly>{{story_section}}
                            </textarea>
                        </div>
                    {% endfor %}
                </div>
                <div class="input-content textarea-wrap">
                    <textarea class="input-content"
                            id="input-content-{{forloop.counter}}" 
                            type="text"
                            placeholder="Enter Story Here"
                            name="content"
                            value="{{story_dict.current}}">{{story_dict.current}}
                    </textarea>
                </div>
                    <div class="submissions">
                        <button type="submit" name = "save-or-submit" value="save">Save</button>
                        <button type="submit" name = "save-or-submit" value="submit">Submit</button>
                        <button type="submit" name = "save-or-submit" value="abandon">Abandon</button>
                    </div>
                </form>
                <div class="comments">Hello</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>


            {% comment %} {% if story_list %}{% else %}
                <button class="story-tab-button" id="story-tab-button-(-1)">(No Stories)</button>
            {% endif %} {% endcomment %}
            {% comment %} {% if story_list %}{% else %}
                <div class="container-story-tab" id="container-story-tab-(-1)">
                    <div class="read-only-div" id="read-only-div-(-1)">No Stories Active. Press "NEW" to start a new one, or "JOIN" to join a pre-existing one!.</div>
                </div>
            {% endif %} {% endcomment %}

