{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>writePage</title>
    <link rel="stylesheet" href= "{% static 'chainlettersstories/styles.css' %}" />
    {{ story_list|json_script:"story-data" }}
    <script>
        console.log("reached script tag in HTML");
    </script>
    <script src= "{% static 'chainlettersstories/write_dashboard_script.js' %}" defer></script>
</head>

<body>
    <header>
        <h1>Hi, {{displayname}}!</h1>
        <button class='header-button write-button' action="chainlettersstories:dashboard userid">WRITE</button>
        <button class='header-button review-button' action="chainlettersstories:readdashboard">REVIEW</button>
        <button class="header-button logout-button" action="chainlettersstories:login-or-signup-page">LOGOUT</button>
    </header>
    <div class="main-section">
        <div class="sidebar">
            <button onclick="newButtonClicked()">NEW</button>
            <form action="{% url 'chainlettersstories:get_random_available_section' userid %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Join" />
            </form>
            {% comment %} <button class="join-button", action="chainlettersstories:get_random_available_section userid">JOIN</button> {% endcomment %}
            <button class="submit-button">SUBMIT</button>
            <div class="counter-text">Hello</div>
        </div>
        <div class="stories">
            <div class="stories-header-panel">
            {% if story_list %}{% else %}
                <button class="story-tab-button" id="story-tab-button-(-1)">(No Stories)</button>
            {% endif %}
            </div>
            <div class="stories-main-panel">
            {% if story_list %}{% else %}
                <div class="container-story-tab" id="container-story-tab-(-1)">
                    <div class="read-only-div" id="read-only-div-(-1)">No Stories Active. Press "NEW" to start a new one, or "JOIN" to join a pre-existing one!.</div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</body>

</html>



{% for choice in question.choice_set.all %}
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}