button {
    color: lightpink;
    background-color: crimson;
}

div.container {
    display: grid;
    grid-template-areas:
        'universalHeader'
        'dashboardContainer'
    ;
    grid-template-columns: 1fr 9fr;
    gap: 3px;
    background-color: dodgerblue;
    padding: 5px;
    height: 100vh;
}

.universalHeader {
    grid-area: universalHeader;
    background-color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 30px;
}

.universalHeader>h1,
form {
    flex-grow: 1;
}

div.dashboardContainer {
    grid-area: dashboardContainer;
    display: grid;
    grid-template-areas:
        "sidebar storyTabs"
        "sidebar storyContainer";
    grid-template-rows: min-content auto;
}

div.sidebar {
    grid-area: sidebar;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
}

div.sidebar>button {
    flex-grow: 1;
}

nav.storyTabs {
    grid-area: storyTabs;
    display: flex;
    justify-content: space-evenly;
    background-color: magenta;
    max-height: 30px;
}

nav.storyTabs button {
    flex-grow: 1;
    /* margin-left: 2.5px;
    margin-right: 2.5px; */
}

div.storyContainer {
    grid-area: storyContainer;
    display: grid;
    grid-template-areas:
        "storyHeader storyHeader"
        "storyContent comments"
        "submissions comments";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content auto min-content;
    gap: 3px;
    background-color: orange;
    padding: 5px;
    height: 100%
}

div.storyHeader {
    grid-area: storyHeader;
}

div.storyContent {
    grid-area: storyContent;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

div.submissions {
    grid-area: submissions;
    display: flex;
    background-color: red;
}

div.comments {
    grid-area: comments;
    background-color: cyan;
}

.previousSectionText {
    grid-area: read-only-content;
    background-color: lightgray;
    min-height: 50px;
    width: 90%;
    padding: 5px;
    margin: 5px;
    overflow: auto;
}

.currentSectionText {
    grid-area: input-content;
    background-color: pink;
    min-height: 50px;
    width: 90%;
    padding: 5px;
    margin: 5px;
}


div.modalPortal {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(0, 0, 0, 0.5)';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

div.modalButtonContainer {
    background: 'white';
    padding: '20px';
    border-radius: '8px'
}